@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    background: #38B81C;
}

a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.main-header {
    height: 40vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: black 5px solid
}

.main-header h1{
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2rem;
}

.main-header h1 span {
    color: rgb(3, 248, 16);
}

.main-header p {
    font-size: 2rem;
}

.container {
    max-width: 1300px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}

.container span {
    color: #38B81C;
 
}

img {
    width: 100%;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #FFFFFF;
    margin-bottom: 2rem;
    border: black 5px solid;
}

.card h3 {
    margin-bottom: 2rem;
}

.card img {
    height: 400px;
}

.card>div {
    padding: 2rem;
}

.card:nth-child(even) img{
    order: 2;
}

.btn {
    display: inline-block;
    background:#008008;
    color: white;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
    border: black 3px solid;
}

.btn:hover {
    opacity: 0.8;
}

.galeria {
    display: flex;
    height: 25rem;
    gap: 1rem;
}

.galeria > div {
    flex: 1;
    background-position: center;
    background-size: cover;
    transition: all .7s cubic-bezier(1, 1, 1, 1);
}

.galeria > div:hover{
    flex: 3;
}

.main-header {
    background-color: #FFFFFF;
}

footer {
    display: block;
    width: 100%;
    bottom: 0vh;
    left: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    border: black 2px solid;
}

footer p span{
  color: #38B81C;
}

.second-header {
    text-align: center;
    background: #FFFFFF;
    border: black 2px solid;
}


